@charset "utf-8";
/* CSS Document */
 
/*공통*/
 
body{font-size:12px;}
 
/*table {width:800}*/
table, th, td {border:1px solid #333333; border-collapse:collapse; padding:5px}
 
/*서브타이틀*/
.signSubTitle {color:#96C; background-color:#FC9 ; text-align:center; font-weight:700; font-size:12px}
 
/*헤드부 */
caption{font-size:18px; font-weight:bold; text-decoration:underline; padding:20px;}
thead, th{ background-color:#FC6 ;}
 
/*바디부*/
.toNo, .tdDate , .tdCount {text-align:center;}
.inBorder {border:solid 1px #CCCCCC ; }
 
/*버텀부*/
tfoot { text-align:center; }
 
/*link*/
 
/*tbody*/
tbody a{ color:#333; }
 
tbody a:link{
    font-size:12px;
    font-family:굴림;
    text-decoration:none;
 }
 
tbody a:visited{
    font-size:12px;
    color:#333;
    font-family:굴림;
    text-decoration:none;
         
 }
tbody a:hover{ text-decoration:underline;}
tbody a:active { font-size:13px; font-family:궁서;}
 
 /*tfoot*/
 
 tfoot a{ color:#06F; }
 
 tfoot a:link{
    font-size:10pt;
    font-family:굴림;
    text-decoration:none;
 }
 
 tfoot a:visited{
    font-size:12px;
    font-family:굴림;
    text-decoration:none;
         
 }
 tfoot a:hover{ text-decoration:underline;}
 tfoot a:active { font-size:13px; font-family:궁서;}